extends layout

block layout-content
  div.View
    h1.Banner TWITCH API
    include templates/header.pug
    div.intro
      h1 Welcome #{curUser.username}
    div.gridparent
        each object in curDash 
          form(id="dashNum" action="/home" method='POST')
            div.card 
              div.title
              h1 !{object.dashID}
              input(name="dashValue" type="hidden" value=`${object.title}`)
              button(type="submit")