extends layout

block layout-content
  div.View
    h1.Banner TWITCH API
    include templates/header.pug
    div.intro
      h1 Welcome #{curUser.username}
    div.gridparent
      div.card
        div.Title
          h1 My Waifus
      div.card
        div.Title
          h1 TIM THE TATMAN

      div.card
        div.Title
          h1 POKIMANE
      div.card
        div.Title
          h1 TEST
      each object in curDash   
        div.card 
          div.title
          h1 !{object.dashID}

