doctype html
html(lang="en")


  head

    meta(charset="utf-8")
    link(rel="icon", type="image/png" href="favicon.png")
    meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
    meta(name="theme-color", content="#000000")
    title #{title} | Twitch Stat Tracker
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    style
      include ../public/login.css

    #main
     form(id="login" action="/login" method='POST')
       div.label login
       div.username
        input( name="username" type="text" placeholder="username" autofocus)
       div.password
        input(name="password" type="password" placeholder="password")

       button(type="submit" ) login
       p
        | Don't have an account?<br>
        <a href="/register.pug">Sign Up Now!</a>
