@import url("https://fonts.googleapis.com/css?family=Raleway:800|Merriweather+Sans|Share+Tech+Mono");

:root {
  --ui-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.06),
    0 4px 5px 0 rgba(0, 0, 0, 0.06), 0 1px 10px 0 rgba(0, 0, 0, 0.08);
  fill: rgba(0, 0, 0, 0.54);
  --ui-shadow-border: 1px solid rgba(0, 0, 0, 0.14);
}

* {
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
  width: 100%;
}

body {
  background: linear-gradient( rgba(15,15,15,1) 0%, rgba(0,0,0,1) 100%);
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
;
}

.gridparent{
    display: grid;
    justify-content: center;
    grid-template-columns: 30% 30% 30%; 
}

h1,
h2,
h3 {
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  font-size: 1vw;
  padding: 0;
  margin: 0;

  color: #2a3747;
}

h1 {
  font-size: 2vw;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
  user-select: none;
}

.intro{
    display: flex;
    justify-content: center;
}
.intro h1 {
    color: whitesmoke;
}

span {
    font-size: 1vw;
}
.Banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
    
  width: 80vw;
  border-radius: 30px;
  overflow: hidden;
  background: white;
  padding: 3vh;
  margin-top: 1%;
  margin-bottom: 2%;
  margin-left: 10%;
  margin-right: 10%;
  font-family: "Share Tech Mono", monospace;

  border-bottom: var(--ui-shadow-border);
  box-shadow: var(--ui-shadow);
}

.Banner h1{
    font-size: 300%;
}

p{
    color: cyan;
}


.card {
  background: white;
  margin-top: 90%;
  padding: 1vw;
  padding-bottom: 12%;
  padding-top: 8%;
  margin: 1vw;
  overflow: hidden;
  border-radius: 5px;
  border-bottom: var(--ui-shadow-border);
  box-shadow: var(--ui-shadow);
}

.card:hover{
  background: mediumpurple;
  transition: all .4s ease;
}

